.back-btn {
    position: absolute;
    top: 90%;
    left: 15.40%;
    width: 5%;
    border-radius: 0% 50% 50% 0;
}

.details {
    position: relative;
}

.reserve-btn {
    position: absolute;
    right: 15%;
    top: 90%;
    width: 170px;
    height: 55px;
    border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
    text-decoration: none;
}

.setting-icon {
    margin-right: 10px;
}

.right-arrow {
    margin-left: 10px;
}