.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: $main-bg;
  border: 0.1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease;
  color: #fff;

  &:hover {
    background-color: darken($main-bg, 10%);
  }

  &.disabled {
    background-color: $disabled-btn;
    color: #555;
    cursor: not-allowed;

    &:hover {
      background-color: $disabled-btn;
    }
  }

  &.prev {
    left: 0;
    border-radius: 0 50% 50% 0;
  }

  &.next {
    right: 0;
    border-radius: 50% 0 0 50%;
  }
}

.engineers-list {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 255px;
  justify-content: space-around;
  align-items: center;

  .eng-details-link {
    background-color: #fff !important;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(100vw / 3);

    &.active-item {
      display: flex;
      justify-content: center;
      align-self: flex-start;
    }
  }

  .engineer-img-container {
    background-color: $main-bg;
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
  }
}

.engineer-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.engineer {
  text-decoration: none;
}

.engineer:hover {
  color: rgb(90, 207, 12) !important;
}
.dotted-top-border {
  border-top: #999 2px dotted;
}

.dotted-bottom-border {
  border-bottom: #999 2px dotted;
}

@media only screen and (max-width: 767px) {
  .carousel-btn {
    display: none;
  }

  .engineers-list {
    width: 100vw;
    overflow-x: scroll;
    justify-content: flex-start;

    div {
      &.active-item,
      &.item {
        display: flex;
        justify-content: center;
        min-width: 99vw;
      }
    }

    .engineer-img-container {
      width: 250px;
      height: 250px;

      .engineer-img {
        width: 250px;
        height: 250px;
      }
    }
  }
}
