.sidebar {
    height: 100vh;
    box-shadow: 1px 0px 8px 0px rgba(184,82,82,0.7);
-webkit-box-shadow: 2px 0px 12px 0px rgba(228, 207, 207, 0.7);
-moz-box-shadow: 2px 0px 12px 0px rgba(228, 192, 192, 0.7);
}

.logo {
    width: 150px;
    height: 50px;
}

.sidebar ul {
    padding: 0px !important;
}

.nav-link {
    color: black !important;
}
.nav li a {
    border-radius: 0px !important;
}
.nav li a:active {
    color: #fff !important;
}
.active {
    color: #fff !important;
    background-color: #97bf0f !important;
  }

.sidebar .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
    .sidebar .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        background: #fff;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        transition: 1s;
        transform: translateY(-100vh);
    }

    .responsive_menu {
        transform: none;
    }
}