.sidebar {
    height: 100vh;
    box-shadow: 1px 0px 8px 0px rgba(184,82,82,0.7);
-webkit-box-shadow: 2px 0px 12px 0px rgba(228, 207, 207, 0.7);
-moz-box-shadow: 2px 0px 12px 0px rgba(228, 192, 192, 0.7);
}

.logo {
    width: 150px;
    height: 50px;
}

.sidebar ul {
    padding: 0px !important;
}

.nav-link {
    color: black !important;
}
.nav li a {
    border-radius: 0px !important;
}
.nav li a:active {
    color: #fff !important;
}
.active {
    color: #fff !important;
    background-color: #97bf0f !important;
  }

 .toggle-btn {
    display: none;
 }
.nav-close-btn {
    visibility: hidden;
}
@media only screen and (max-width: 767px) {
    .sidebar {
        display: none !important;
    }

    .toggle-btn {
        display: inline;
    }
    .toggle-btn > button, .nav-close-btn {
        font-size: 1.5rem;
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: black;
        visibility: visible;
        opacity: 1;
    }

    .responsive_menu {
        display: block !important;
        position: absolute !important;
        z-index: 444;
        background-color: #fff;
        transition: transform 3s ease;
        transform: translateX(4);

    }
}
